*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: sans-serif;
}
img{
    display: block;
}

header{
    width: 100%;
    display: flex;
    margin: 20px 0 50px;
    justify-content: center;
}
header img{
    max-width: 200px;
    max-height: 200px;
}
.containerGame{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/*
    ## Game
*/
.mapleStory{

    background: url("../src/img/back/snowyLightrock-back/3.png") repeat-x bottom;
    background-size: auto;
    background-color: #BBBBDD;
    box-sizing: border-box;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-position-x: 501px;
    background-position-y: bottom;
    animation: mountains-move-x 20000ms linear infinite;
                /* mountains-move-y 5000ms infinite; */
}

@keyframes mountains-move-x {

    100%{
        background-position-x: 0px;
    }
}

.char{
    width: 120px;
    color: white;
}
.char, .NPC{
    text-align: center;
    margin-bottom: 3px;
    position: relative;
    bottom: -33px;
    z-index: 10;
}

.char .img, .NPC .img{
    margin-bottom: 2px;
}
.NPC .img{
    cursor: pointer;
}
.NPC .name{
    color: #FFFF70;
}
.char .name, .NPC .name{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 2px 3px;
    border-radius: 3px;
}

.tile{
    position: relative;
    background-image: url("../src/img/tile/The_Nath.png");
    width: 100%;
    height: 50px;
    z-index: 1;
}

.mists, .containerDialog{
    position: absolute;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.mists-behind{
    z-index: 0;
}
.mists .mist{
    position: absolute;
    align-self: flex-end;
}

.mists-inFront .mist{
    position: relative;
    z-index: 20;
}

.containerDialog{
    justify-content: center;
    align-items: center;
    z-index: 50;
    display: none;
}

.msgDialog{
    width: 500px;
    height: 180px;
    background-color: #EEEEDD;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    border: 1px solid #909191;
    box-shadow: 0px 0px 0px 1px white,
                0px 0px 5px 1px black;

}

.npcImg_Dialog{
    display: flex;
    height: 130px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
}

.npcImg_Dialog .npcImg{
    width: 120px;
    border-right: 1px solid #CCCCC1;
    box-shadow: 2px 0px 2px -2px #909191;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.npcImg_Dialog .dialog{
    width: 340px;
    background-color: white;
    height: 100%;
    font-size: 9pt;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 7px;
    box-shadow: inset 0px 0px 7px -2px black;
}

.npcImg_Dialog .dialog ul li{
    margin-left: 15px;
    color: blue;
    cursor: pointer;
    margin-top: 2px;
}
.npcImg_Dialog .dialog ul li:hover{
    text-decoration: underline;
}
.npcImg_Dialog .dialog ul li:nth-child(1){
    margin-top: 8px;
}
.npcImg_Dialog .npcImg img{    
    display: inline;
}
.npcImg_Dialog .npcImg span{
    background-color: #113355;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    margin-top: 5px;
    padding: 1px 0;
}


/*----btn-----*/
.btn{
    height: 30px;
    width: 100%;
    background-color: #99AACC;
    background: linear-gradient(#99AACC 50%, #BBC6DD);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
}
.btn button{
    border: none;
    color: white;
    padding: 2px 0;
    font-size: 8pt;
    box-shadow: 0px 0px 1px 1px black;
    text-shadow: 0px 0px 1px black;
}
.btn .btn_left button{
    background: linear-gradient(#BBD160 1%, #99BB11 95%, white);
    width: 85px;
}
.btn .btn_right button{
    background-color: #DD7711;
    background: linear-gradient(#E8A460 1%, #DD7711 95%, white);
    width: 40px;
}

.btn .btn_right button:nth-child(2){
    margin-left: 5px;
}

.notifications{
    position: fixed;
    bottom: 0px;
    right: 15px;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    visibility: hidden;    
    font-size: 9pt;
    transition: .5s ease;
    opacity: 0;
}
.notifications p{
    padding: 5px;
    font-size: 9pt;
    
}

.visible{
    visibility: visible;    
    animation: notification 9000ms;
}

@keyframes notification {

    0% {
        bottom: 0px;
        opacity: 0;
    }
    10%{
        bottom: 10px;
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        bottom: 10px;
    }
}
/*
==========================
=======BarStatus==========
==========================
*/

.Status{
    display: flex;
    color: white;
    margin-top: 15px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font-size: 9pt;
}

.Status .Status__repository, .Status .Status__library, .Status .Status__itemRequerid{    
    padding: 2px 5px;
    color: #E4A900;
}
.Status .Status__repository a, .Status .Status__library a, .Status .Status__itemRequerid span{
    color: white;
    text-decoration: none;
    font-size: 8pt;
}
.Status .Status__repository a:hover, .Status .Status__library a:hover{
    text-decoration: underline;
}